body {
    min-height: 100vh;
    margin: 0;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    font-weight: 700;
    background: white;
    color: black;
}

.center {
    position: absolute;
    width: 100%;
    max-width: 1300px;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heading {
    font-family: 'Raleway', sans-serif;
    font-size: 80px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.subheading {
    margin: 0;
}

.links {
    width: 40%;
    margin-top: 65px;
    display: flex;
    justify-content: space-between;
}

/* For devices larger than 400px */

@media (min-width: 400px) {
    .container {
        width: 85%;
    }
}

/* For devices larger than 550px */

@media (min-width: 550px) {
    .container {
        width: 80%;
    }
}

