body {
    min-height: 100vh;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    background: #9EA3B0;
    color: white;
}

.center {
    position: absolute;
    width: 100%;
    max-width: 1300px;
    padding: 30px 0;
    margin: 0;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heading {
    font-family: 'Raleway', sans-serif;
    font-size: 80px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.subheading {
    margin: 0;
}

/* For devices larger than 400px */

@media (min-width: 400px) {
    .container {
        width: 85%;
    }
}

/* For devices larger than 550px */

@media (min-width: 550px) {
    .container {
        width: 80%;
    }
}

.links {
    width: 30%;
    margin-top: 65px;
    display: flex;
    justify-content: space-between;
}

.line {
    margin-left: 20px;
    width: 60px;
    height: 47px;
    border-bottom: 2px solid antiquewhite;
    position: absolute;
}

a {
    color: white;
    text-decoration: none;
}