body, html {
    height: 100%;
}

body {
    font-family: var(--serif);
    font-size: 30px;
    font-weight: 600;
    background: var(--background-grey);
    color: var(--background-white);
    margin: 0;
    padding: 0;
}

section.standard {
    min-height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.products {
    margin: auto;
    display: flex;
    justify-content: center;
}

.container {
    position: relative;
    max-width: 1980px;
    margin: 35px auto 35px 0px;
}

.centerHeading {
    text-align: center;
    font-family: var(--sans-serif);
    font-size: 80px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0px;
    margin-top: 80px;
}

.heading {
    font-family: var(--sans-serif);
    font-size: 80px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0px 0px 30px 0px;
}

.productHeading {
    margin: 20px 0px 15px 0px;
}

.subheading {
    margin: 0;
}

.bumpdown {
    margin-top: 65px;
}


.links {
    width: 70%;
    margin-top: 65px;
    display: flex;
    justify-content: space-between;
}

.portfolioLinks {
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.portfolioLink {
    color: var(--white);
}

.link {
    margin: 0px;
}

.line {
    margin-left: 20px;
    width: 50px;
    height: 47px;
    border-bottom: 2px solid var(--line);
    position: absolute;
}

a {
    color: var(--white);
    text-decoration: none;
}


/* For devices larger than 400px */

@media (min-width: 50px) {
    body {
        font-size: 20px;
    }
    section {
        width: 85%;
    }
    .heading {
        font-size: 40px;
    }
    .centerHeading {
        font-size: 40px;
        margin-top: 35px;
    }
}

/* For devices larger than 550px */

@media (min-width: 550px) {
    body {
        font-size: 30px;
    }
    section {
        width: 80%;
    }
    .heading {
        font-size: 80px;
    }
    .centerHeading {
        font-size: 80px;
    }
}

@media (max-width: 750px) {
    .line {
        display: none;
    }
}

/* For devices larger than 1080px */

@media (min-width: 1080px) {
    body {
        font-size: 35px;
    }
    section {
        width: 85%;
    }
    .heading {
        font-size: 90px;
    }
    .centerHeading {
        font-size: 90px;
    }
}