.portfolio {
    background: var(--background-white);
    color: var(--black);
    font-weight: 700;
}

.tileImage {
    height: 180px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.portfolioTiles {
    margin-top: 45px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.portfolioTile {
    height: 200px;
    width: 250px;
    text-align: center;
    font-size: 30px;
    font-style: italic;
    margin-top: 10px;    
}

.portContainer {
    position: relative;
    width: 90%;
    max-width: 1980px;
    margin-right: auto;
    margin-left: auto;
}

/* For devices larger than 400px */

@media (min-width: 50px) {
    
}

/* For devices larger than 550px */

@media (min-width: 550px) {
    .portfolioTile {
        margin-top: 40px;    
    }
}