.product {}

.productTitle {
    font-family: var(--sans-serif);
    font-weight: 600;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.productInfo {
    font-size: 24px;
    font-family: var(--serif);
    color: var(--black);
    font-weight: 500;
    line-height: 24px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.productContain {
    width: 200px;
}

.productName {
    width: 200px;
}

.productAbout {
    width: 200px;
}

.normalize {
    font-size: 25px;
    font-family: var(--serif);
    color: var(--black);
    font-weight: 500;
}

.productInfoMobile {
    font-size: 24px;
    font-family: var(--sans-serif);
    color: var(--black);
    font-weight: 500;
    line-height: 24px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.productImages {
    text-align: center;
}

.photos {
    margin: 20px auto 10px auto;
}

img {
    margin: 0px auto;
    padding: 0px 30px;
    max-width: 78vw;
    max-height: 78vh;
}

@media only screen and (max-width: 450px) {
    .productInfoDesktop {
        display: none;
    }
    .productInfoMobile {
        display: flex;
    }
}

@media only screen and (min-width: 450px) {
    .productInfoDesktop {
        display: block;
    }
    .productInfoMobile {
        display: none;
    }
}