.product {
    width:70vw;
}

.productTitle {
    font-family: var(--sans-serif);
    font-weight: 600;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.productInfo {
    font-size: 24px;
    font-family: var(--serif);
    color: var(--black);
    font-weight: 500;
    line-height: 24px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.productContain {
    width: 200px;
}

.productName {
    width: 200px;
    margin-top: 10px;
}

.productAbout {
    width: 200px;
    margin-top: 10px;
}

.normalize {
    font-size: 25px;
    font-family: var(--serif);
    color: var(--black);
    font-weight: 500;
}

.productInfoMobile {
    font-size: 24px;
    font-family: var(--sans-serif);
    color: var(--black);
    font-weight: 500;
    line-height: 24px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.productImages {
    text-align: center;
}

.mobileSlideshowImages {
    width: 70%;
}

.homiHRImages {
    width: 55vw;
}

.centerProdImage {
    margin: 0px auto;
}

.hrProductDivide {
    width: 50%;
    color: #b9b9b91c;
    border-color: #b9b9b91c;
    background-color: #b9b9b91c;
}

@media only screen and (max-width: 450px) {
    .productInfoDesktop {
        display: none;
    }
    .productInfoMobile {
        display: flex;
    }
    .normalize {
        font-size: 20px;
    }
    .homiHRImages {
        width: 65vw;
    }
}

@media only screen and (min-width: 450px) {
    .productInfoDesktop {
        display: block;
    }
    .productInfoMobile {
        display: none;
    }
}
