:root {
    --background-grey: #9EA3B0;
    --background-white: #ffffff;
    --background-faded-red: #FAE1DF;
    --background-coral: #EB9486;
    --background-navy: #223843;

    --white: #ffffff;
    --black: #000000;
    --grey: #9EA3B0;
    --red: #F04848;
    --faded-red: #FAE1DF;
    

    --line: #FAEBD7;

    --sans-serif: 'Poppins', sans-serif;
    --serif: 'Crimson Text', serif;
}